.ul-class {
    display: flex;
    gap: 10%;
    height: 20%;
    border: solid 2px black;
    
}

main{
    display: flex;
    justify-content: space-around;
}

.sushi-texto {
    border: solid gray;
    width: 40%;
}